 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Navigation -->
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a class="brand-logo " href="#page-top">MAGNI</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#portfolio">Inicio</a>
                </li>
                <li>
                    <a href="#portfolio">Blog</a>
                </li>
                <li>
                    <a href="#portfolio">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#portfolio">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->


<!-- Portfolio Grid Section -->

    <div class="container">
        <div class="row">
            <div class="section">
                <div class="col s12 m12 l12 center-align">
                    <h3>Selecciona el tipo de correo electrónico que deseas enviar</h3>
                    <hr>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div id="collapse" type="button" class="collapsible-header waves-effect waves-light btn s12 m6">
                        <i class="material-icons">whatshot</i>
                        <h4>Bienvenida</h4>
                    </div>
                </li>
                    <div class="collapsible-body">
                        <div class="col s12" id="forma">    
                            <h3>Completa los siguientes campos y nosotros crearemos tu correo mejorado</h3>
                        </div>
                        <div class="col s12 col-xs-12" id="tips"> 
                            <div class="col s4" id="tip1">
                                <h4>Tip 1</h4>
                                <p>Tip de plantilla de bienvenida 1</p>
                            </div>
                            <div class="col s4"  id="tip2">
                                <h4>Tip 2</h4>
                                <p>Tip de plantilla de bienvenida 2</p>
                            </div>
                            <div class="col s4" id="tip3">
                                <h4>Tip 3</h4>
                                <p>Tip de plantilla de bienvenida 3</p>
                            </div>
                        </div> 
                        <div class="col s12">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header">
                                        <h4 class="panel-title">
                                        <a><label for="exampleTextarea1">Asunto</label>
                                        <textarea class="form-control" id="exampleTextarea1" rows="1" placeholder="Máximo 30 caracteres" data-toggle="collapse" data-parent="#accordion" href="#collapse1" ></textarea></a></h4>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="col s12 m6 l6">
                                            <h4>Ejemplo asunto 1</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>  
                                        <div class="col s12 m6 l6">
                                            <h4>Ejemplo asunto 2</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <h4>Tip 1 asunto</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>  
                                        <div class="col s12 m6 l6">
                                            <h4>Tip 2 asunto</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <h4 class="panel-title">
                                        <a><label for="exampleTextarea2">Introducción-saludo</label>
                                        <textarea class="form-control" id="exampleTextarea2" rows="3" data-toggle="collapse" data-parent="#accordion" href="#collapse2" ></textarea></a></h4>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="col s6">
                                            <h4>Ejemplo introducción 1</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>  
                                        <div class="col s6">
                                            <h4>Ejemplo introducción 2</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>
                                        <div class="col s6">
                                            <h4>Tip 1 introducción</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>  
                                        <div class="col s6">
                                            <h4>Tip 2 introducción</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <h4 class="panel-title"><a><label for="exampleTextarea3">Cuerpo de la bienvenida</label>
                                        <textarea class="form-control" id="exampleTextarea3" rows="5" data-toggle="collapse" data-parent="#accordion" href="#collapse3"></textarea></a></h4>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="col s3">
                                            <h4>Tip 1 cuerpo</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>  
                                        <div class="col s3">
                                            <h4>Tip 2 cuerpo</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>
                                        <div class="col s3">
                                            <h4>Ejemplo Cuerpo 1</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>  
                                        <div class="col s3">
                                            <h4>Ejemplo Cuerpo 2</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        <h4 class="panel-title">
                                        <a><label for="exampleTextarea4">Firma</label>
                                        <textarea class="form-control" id="exampleTextarea4" rows="2" data-toggle="collapse" data-parent="#accordion" href="#collapse4"></textarea></a></h4>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="col s6">
                                            <h4>Ejemplo firma 1</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>  
                                        <div class="col s6">
                                            <h4>Ejemplo firma 2</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        </div>
                                        <div class="col s6">
                                            <h4>Tip 1 firma</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>  
                                        <div class="col s6">
                                            <h4>Tip 2 firma</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>    
                        
                        <div class="col s4 ">
                            <h2>Plantilla de bienvenida 1</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col s4 form-group">
                            <h2>Plantilla de bienvenida 1</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col s4 form-group">
                            <h2>Plantilla de bienvenida 1</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div> 
                        <div class="row">
                            <button id="collapse" class="col s4  offset-s4 "><h4>Crea mi correo mejorado</h4></button>
                        </div>             
                    </div>
                
                <li>
                    <div id="collapse" type="button" class="collapsible-header waves-effect waves-light btn">
                        <i class="material-icons">whatshot</i>
                        <h4>Postulación</h4>
                    </div>
                    <div class="collapsible-body"></div>
                </li>
                <li>
                    <div id="collapse" type="button" class="collapsible-header waves-effect waves-light btn">
                        <i class="material-icons">whatshot</i>
                        <h4>Agradecimiento</h4>
                    </div> 
                    <div class="collapsible-body"></div>
                </li>
                <li>
                    <div id="collapse" type="button" class="collapsible-header waves-effect waves-light btn">
                        <i class="material-icons">whatshot</i>
                        <h4>Favor</h4>
                    </div> 
                    <div class="collapsible-body"></div>
                </li>
                <li>
                    <div id="collapse" type="button" class="collapsible-header waves-effect waves-light btn">
                        <i class="material-icons">whatshot</i>
                        <h4>General</h4>
                    </div> 
                    <div class="collapsible-body"></div>
                </li>
            </ul>                   
        </div>
    </div>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col s4">
                    <h3>Location</h3>
                    <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer-col col s4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>

                        </li>

                        <li>

                        </li>

                        <li>

                        </li>

                        <li>

                        </li>

                        <li>

                        </li>
                    </ul>
                </div>
                <div class="footer-col col s4">
                    <h3>About Freelancer</h3>
                    <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    Copyright &copy; Your Website 2016
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->

<!-- <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div> -->

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">   
                <div class="rl">
                    
                </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Invitación</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                                <p> <a href="#">Flat Icons</a></p>
                                <button type="button" class="btn btn-primary">GMAIL</button>
                                <button type="button" class="btn btn-primary">HOTMAIL</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>POSTULACIÓN</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                                <p></p>
                                <button type="button" class="btn btn-primary"> GMAIL</button>
                                <button type="button" class="btn btn-primary"> HOTMAIL</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>BIENVENIDA</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                                <p></p>
                                <button type="button" class="btn btn-primary"> GMAIL</button>
                                <button type="button" class="btn btn-primary"> HOTMAIL</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>FAVOR</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                                <p></p>
                                <button type="button" class="btn btn-primary"> GMAIL</button>
                                <button type="button" class="btn btn-primary"> HOTMAIL</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>RETROALIMENTACIÓN</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                                <p></p>
                                <button type="button" class="btn btn-primary"> GMAIL</button>
                                <button type="button" class="btn btn-primary"> HOTMAIL</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>GENERAL</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                                <p></p>
                                <button type="button" class="btn btn-primary"> GMAIL</button>
                                <button type="button" class="btn btn-primary"> HOTMAIL</button> 
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>